$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/* Main marketing message and sign up button */

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
}

body{
  overflow: hidden;
}

.grid-item {
  float: left;
  width: 25%;
}

img{
  width: 100%;
  height: auto;
}

.bin {
  background: black;
  border-top: 5px solid #555;
  margin-left: -1px;
  overflow: hidden;
}

.bin-item {
  border-left: 1px solid #555;
  float: left;
  height: 80px;
  width: 102px;
}
