<div class="clearfix">
<div class="grid-item one" data-anijs="if: click, do: hinge animated">
  <img src="images/1.jpg" alt="">
</div>
<div class="grid-item two" data-anijs="if: click, do: hinge animated">
  <img src="images/2.jpg" alt="">
</div>
<div class="grid-item three" data-anijs="if: click, do hinge animated">
  <img src="images/3.jpg" alt="">
</div>
<div class="grid-item four" data-anijs="if: click, do: hinge animated">
  <img src="images/4.jpg" alt="">
</div>
<div class="grid-item five" data-anijs="if: click, do: hinge animated">
  <img src="images/5.jpg" alt="">
</div>
<div class="grid-item six" data-anijs="if: click, do: hinge animated">
  <img src="images/6.jpg" alt="">
</div>
<div class="grid-item seven" data-anijs="if: click, do: hinge animated">
  <img src="images/1.jpg" alt="">
</div>
<div class="grid-item eight" data-anijs="if: click, do: hinge animated">
  <img src="images/5.jpg" alt="">
</div>
</div>

<div class="bin">
  <div class="bin-item"></div>
  <div class="bin-item"></div>
  <div class="bin-item"></div>
  <div class="bin-item"></div>
  <div class="bin-item"></div>
  <div class="bin-item"></div>
  <div class="bin-item"></div>
  <div class="bin-item"></div>
  <div class="bin-item"></div>
  <div class="bin-item"></div>
  <div class="bin-item"></div>
  <div class="bin-item"></div>
  <div class="bin-item"></div>
  <div class="bin-item"></div>
</div>
