<div class="clearfix">
<div class="grid-item one" data-anijs="if: click, do: tada animated">
  <img src="images/1.jpg" alt="">
</div>
<div class="grid-item two">
  <img src="images/2.jpg" alt="">
</div>
<div class="grid-item three">
  <img src="images/3.jpg" alt="">
</div>
<div class="grid-item four">
  <img src="images/4.jpg" alt="">
</div>
<div class="grid-item five">
  <img src="images/5.jpg" alt="">
</div>
<div class="grid-item six">
  <img src="images/6.jpg" alt="">
</div>
<div class="grid-item seven">
  <img src="images/3.jpg" alt="">
</div>
<div class="grid-item eight">
  <img src="images/4.jpg" alt="">
</div>
</div>

<div class="bin alert alert-success">
  <span>bin here in making</span>
</div>
